body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

html {
  font-family: Helvetica, Sans-Serif;
  background-color:#520075;
  color: white;
    }
    
button {
  border-radius: 5%;
}    
    
    .homebtn {
      background-color: #6C3BAA;
      color: white;
      padding: 16px;
  font-size: 16px;
  border: none;
    }
    
    .homebtn:hover {
      background-color: #6A5ACD;
    }
    
    .dropbtn {
  background-color: #6C3BAA;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8479D9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #B5A8EF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #6A5ACD;}

.header {
  font-weight: bold;
  font-family: Times;
}

#villains {
   background-color: #520075;
   text-align: center;
   display: block;
   width: 30%;
   margin: auto;
   align-items: center;
   color: white;
}

.character-tile {
  text-align: center;
   padding: 18px;
   background-color: #6C3BAA;
   color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  display: block;
align-items: center;
border-radius: 4px;
}

.character-tile:hover {
  background-color: #6A5ACD;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.tileimg {
  max-width: 45%;
 height: auto;
   border: 1px solid #ddd;
  border-radius: 4px;
	display: block;
	margin: auto;
	align-items: center;
	justify-content: center;
}

a {
  text-decoration: none;
    color: white;
}

a:hover {
  color: white;
}

.info-container {
  padding: 12px;
  float: right;
  border: solid;
  border-color: #6A5ACD;
  width: 25%;
  height: 30%;
}

.namebox {
  border-bottom-style: solid;
  border-bottom-color: #6A5ACD;
  text-align: center;
  font-family: "Lucida Handwriting", cursive, serif;
}

ul li::marker {
  content:'⟢';
}

.profile-image {
	padding: 6px;
	position: relative;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

#info-nav {
  border: solid;
  border-color: #6A5ACD;
  float: left;
  width: 60vw;
  margin: 15px;
  word-wrap: normal;
  padding: 10vw;
}

.maininfo {
  padding-left: 12px;
  padding-right: 12px;
  display: block;
  margin: auto;
}

.quote {
	font-weight: bold;
	font-style: italic;
	font-size: 20vw;
}
